body {
  font-family: myHelvetica, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

a {
  transition: color 0.3s;

  & svg {
    fill: currentColor;
  }

  &:hover {
    color: var(--hover-link-color);

    & svg {
      fill: currentColor;
    }
  }
}
